@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Roboto&display=swap');
/*
font-family: 'Baloo Da 2', cursive;
font-family: 'Roboto', sans-serif;*/

*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;    
    font-weight: 500;
    font-family: Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

.center{
    display:flex;
    justify-content:center;
    align-items: center;
}

html{
    font-size: 62.5%;
}

.section1{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(255,255,255,0.2),
    rgba(255,255,255,0.3)),
                url(images/bg.jpg),center no-repeat;
    /* background-image: linear-gradient( red,yellow); */
    background-size:cover;
    flex-direction: column;
}

.section1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color:sienna;
    padding: 0 3rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    border-bottom: 0.3rem solid #fff;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);  /*pentru a inclina in spre dreapta cu 10 grade tot h1*/
}

.person-img{
    width: 25rem;
    height:25rem;
    object-fit: cover;
    border-radius: 50%;
    border:0.7rem solid sienna;
    background-color:rgba(255,255,255,0.7);
    padding:0.55rem;
    opacity: 0.9rem;
}

.person-name{
    font-size: 2rem;
    color:#fff;
    background-color:sienna;
    margin: 5rem 0; /*5 este pentru sus si jos si 0 este pentru stanga si dreapta*/
    padding: 0.5rem 3rem;
    transform: skew(-10deg);  /*pentru a inclina spre dreapta scrisul*/
    letter-spacing: 0.25rem;
}

.section1-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color:#333;
    background-color:#fff;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    border-radius:0.5rem;
    text-transform: uppercase;
    letter-spacing:0.3rem;
}

/*-----------------------------------------------Navbar style---------------------------------------------------------------*/

.navbar{
    width: 100%;
    height:5rem;
    background-color:sienna;
    box-shadow: 0.2rem 0.2rem 0.5rem #333;
}

.navbar-link{
    font-size: 1.8rem;
    font-weight: 700;
    color:#333;
    margin: 0 3rem;
    letter-spacing:0.3rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition:color 0.3s;
}

.navbar-link:hover{
    color: #fff;
}
/* ::before creeaza un pseudo-element care este in general primul
 copil al elementului care este selectat */
.navbar-link::before{
    content:"";
    width: 0;
    height: 0.3rem;
    background-color:#fff;
    position: absolute;
    right: -15%;
    bottom: -0.15rem;
    transition:width 0.4s;
}

.navbar-link:hover::before{
    width: 130%;
}

/* -------------------------------------Start of the section 2-------------------- */

.section2{
    width: 100;
    height: 100%;
    padding: 15rem 0 10rem 0;  /*top,right,bottom,left*/
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing:0.5rem;
    margin-bottom: 15rem;
    border-bottom:.3rem solid #333;
    text-shadow: .2rem .2rem .5rem #555;

}
.progress-bars-wrapper{
    margin-bottom: 50rem;

}
.progress-bar{
    width: 60rem;
    height: 3rem;
    background-color:#ccc;
    margin:1.5rem 0;
    border-radius: 0.3rem;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    position: relative;
}

.progress-text{
    position: absolute;
    left: 1rem;
    font-size:1.5rem;
    color:#fff;
}
.progress-text span{
    margin: 0 0.5rem;
    font-size:1.8rem;
    font-weight: 700;
}

.progress-percent{
    width: 99%;
    height: 100%;
    background-color: sienna;
    border-radius: 0.3rem;
}

.services{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.service{
    text-align: center;
}
.service i{
    font-size:10rem;
    color:#888;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #555;
}

.service h2{
    font-size: 2rem;
    color: #fff;
    background-color: #777;
    width:25rem;
    letter-spacing:0.3rem;
    transform: skew(-10deg);  /*pentru a roti cu 10 drage in dreapta tot*/
    box-shadow: 0.2rem 0.2rem 0.5rem #444;
}

.service:first-child,
.service:last-child{
    align-self: flex-start;
}


/* -------------------------section3 start -------------------------------------------- */

.section3{
    width: 100%;
    height: 100%;
    padding:10rem 0;  /*sus-jos si stanga dreapta */
    background-color: #eef;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.section3-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing:0.5rem;
    margin-bottom: 15rem;
    border-bottom:.3rem solid #333;
    text-shadow: .2rem .2rem .5rem #555;
}

.projects-wrapper{
    width: 80%;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position:relative;
    overflow-y: hidden;
    border-radius: 0.5rem;
    transition: box-shadow 0.5s;
}

.project:hover{
    box-shadow: 1rem 1rem 1rem #777;
}

.project-text{
    text-align: center;
    letter-spacing: 0.15rem;
    position: absolute;
    top:-10rem;
    z-index: 10;
    transition:top 0.3s;
}
.project:hover .project-text{
    top:5rem;
    transition:top 0.3s 0.3s;  /*pe ce vrem sa punem aniamtia, durata tranzitiei si deelay-ul*/
}

.project-name{
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform:capitalize;
}

.project-tehnologies{
    font-size: 1.8rem;
    color: #e41c6f;
}
.project-img{
    width: 40rem;
    transition:opacity 0.3s;
}

.project-img:hover{
    opacity:0.25;
}
.project-link{
    font-size:2rem;
    font-weight:500;
    color: #333;
    letter-spacing: 0.1rem;
    border: 0.3rem solid sienna;
    background-color:#fff;
    position: absolute;
    bottom:-5rem;
    transition:bottom 0.3s;
}

.project:hover .project-link{
    bottom:5rem;
    transition:bottom 0.3s 0.3s;
}

